<web-app>
   <!-- 
    <servlet>
        <servlet-name>OpenClosedServlet</servlet-name>
        <servlet-class>com.denad.OpenClosedServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    -->

<!-- This is the servlet that is loaded when the server starts, it will check if voting is open or closed. -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.denad.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>com.denad.UpdatePasswordServlet</servlet-class>
    </servlet>

<!--
    <servlet-mapping>
        <servlet-name>OpenClosedServlet</servlet-name>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/header.jsp</include-prelude>
            <include-coda>/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>